<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>GlobalStorage StorageEvent Test</title>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script type="text/javascript"
			        src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script type="text/javascript"
			        src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- include: "type": "testjs", "files": "js/**/*.js" -->
		<!-- /include -->
        <script type="text/javascript">
            var timeout = 200,
                gs      = new GlobalStorage();

            (window.parent || window.opener).window.addListener();

            gs.setItem("TEST", "123");
            setTimeout(function () {
                gs.setItem("TEST", "456");
                setTimeout(function () {
                    gs.removeItem("TEST");
                    setTimeout(function () {
                        gs.setItem("TEST", "TEST");
                        setTimeout(function () {
                            gs.clear();
                        }, timeout);
                    }, timeout);
                }, timeout);
            }, timeout);
        </script>
	</body>
</html>
