<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>LocalStorage StorageEvent Test</title>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script type="text/javascript"
			        src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script type="text/javascript"
			        src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- include: "type": "testjs", "files": "js/**/*.js" -->
		<!-- /include -->
        <script type="text/javascript">
            var func = function () {
                var timeout = 800,
                    self    = this;

                (window.parent || window.opener).window.addListener();

                self.setItem("TEST", "123");
                setTimeout(function () {
                    self.setItem("TEST", "456");
                    setTimeout(function () {
                        self.removeItem("TEST");
                        setTimeout(function () {
                            self.setItem("TEST", "TEST");
                            setTimeout(function () {
                                self.clear();
                            }, timeout);
                        }, timeout);
                    }, timeout);
                }, timeout);
            };

            if ( window.localStorage.isLoaded ) {
                window.localStorage.isLoaded(func);
            } else {
                func.call(window.localStorage);
            }
        </script>
	</body>
</html>
